.site-content {
	width: $size__site-width;
	margin: 0 auto;
}

@media screen and ( min-width: $size__site-maxwidth ) {
	.site-content {
		max-width: $size__site-maxwidth;
	}
}

@media screen and ( min-width: 768px ) {
	.page .entry-header,
	.archive .page-header {
		margin: 5.25em 0 0 0;
	}
}

// Home Page Layout
.home {
	.site-content {
		* {
			-webkit-transition: all 400ms;
			-moz-transition: all 400ms;
			-o-transition: all 400ms;
			transition: all 400ms;
		}
	}
	.site-main {
		margin-top: 1.5em;
	}
	.entry-content {
		margin: 0;
		.excerpt {
			background-color: #ffffff;
			padding: 1em 1.5em 2em;
			.entry-header {
				h2 {
					margin: .25em 0;
					font-weight: 300;
					color: #202020;
				}
			}
			.entry {
				z-index: 1;
				position: relative;
				.more {
					font-weight: 400;
					font-size: .8em;
				}
			}
		}
	}
	.entry-thumbnail {
		line-height: 0;
		.aspect-ratio {
			width: 100%;
			overflow: hidden;
			background-size: cover;
			background-position: 50% 50%;
			&:after {
				content: "";
				display: block;
				padding-bottom: 50%;
			}
		}
	}
}
@media screen and ( min-width: 640px ) {
	.home {
		.site-main {
			margin-top: 10em;
		}
		.row {
			@include flex(row, wrap, space-around, flex-end);
			.hentry {
				margin: 0 0;
				img {
					width: 100%;
				}
				.entry-content {
					.excerpt {
						padding: 2em 1.5em;
						position: relative;
						.entry-header {
							position: absolute;
							top: -1.25em;
							left: -1.5em;
							right: 0;
							bottom: 0;
							h2 {
								margin: 0;
							}
						}
					}
				}
				.entry-thumbnail {
					z-index: -100;
				}

				&:nth-child(3n+2),
				&:nth-child(3n+3) {
					width: 50%;
					.entry-content,
					.entry-thumbnail {
						width: 80%;
					}
				}

				&:nth-child(3n+1) {
					@include flex(row, wrap, center, center);
					width: 100%;
					.excerpt {
						margin: 2em 0;
					}
					.entry-content,
					.entry-thumbnail {
						width: 40%;
						.aspect-ratio {
							&:after {
								padding-bottom: 120%;
							}
						}
					}
				}
				&:nth-child(3n+2) {
					.entry-thumbnail {
						.aspect-ratio {
							&:after {
								padding-bottom: 60%;
							}
						}
					}
				}
				&:nth-child(3n+3) {
					.entry-thumbnail {
						z-index: -200;
						max-height: 1px;
						overflow: visible;
						position: relative;
						.aspect-ratio {
							position: absolute;
							bottom: 2em;
							right: -25%;
							&:after {
								padding-bottom: 140%;
							}
						}
					}
				}
			}
		}
	}	
}


// About Page Template
.page-template[class*='about'] {
	@media screen and ( min-width: 640px ) {
		.site-main {
			.row {
				@include flex(row, no-wrap, space-around, flex-start);
			}
			.profile-image {
				width: 25%;
				margin: 1.3em 0;
			}
			.about-content {
				width: 75%;
				padding-left: 2em;
			}
		}
	}
}

.page-template[class*='two-col'] {
	@media screen and ( min-width: 640px ) {
		.site-main {
			.row {
				@include flex(row, no-wrap, space-around, flex-start);
			}
			.entry-content {
				width: 50%;
			}
			.left {
				padding-right: 1em;
			}
			.right {
				padding-left: 1em;
			}
		}
	}
}