.site-footer{
	.site-info {
		.row {
			width: $size__site-width;
			margin: 0 auto;
		}
	}
}
<<<<<<< HEAD
=======

>>>>>>> 2d40dc376773113a4b5831fb128fecec6e539d9c
@media screen and ( min-width: $size__site-maxwidth ) {
	.site-footer .site-info .row {
		max-width: $size__site-maxwidth;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 2d40dc376773113a4b5831fb128fecec6e539d9c
