.site-header {
	width: 100%;
	-webkit-transform: translate3d(0,0,0);
	.header-wrapper {
		width: 100%;
	}
	.row {
		width: $size__site-width;
		margin: 0 auto;
<<<<<<< HEAD
		@include flex(row, no-wrap, flex-end, center);
=======
		// padding: 1px 0;
		@include flex( row, no-wrap, flex-end, center );
>>>>>>> 2d40dc376773113a4b5831fb128fecec6e539d9c
	}
	.primary {
		.site-branding {
			width: 80%;
		}
		.main-navigation {
			width: 20%;
			.mbl-menu {
				float: right;
			}
		}
	}
	.secondary {
<<<<<<< HEAD
		background-color: #FFFFFF;
		border: 1px solid #efefef;
=======
>>>>>>> 2d40dc376773113a4b5831fb128fecec6e539d9c
		.row {
			.menus {
				width: 100%
			}
			.service-menu {
<<<<<<< HEAD
				box-sizing: border-box;
				moz-box-sizing: border-box;
=======
>>>>>>> 2d40dc376773113a4b5831fb128fecec6e539d9c
				list-style: none;
				@include flex( row, no-wrap, flex-start, center );
			}
		}
	}
	#primary-menu, #secondary-menu, .mbl-navigation {
		display: none;
		overflow: hidden;
	}
	.mbl-navigation.active {
		display: block;
<<<<<<< HEAD
=======
		// background-color: #FFFFFF;
>>>>>>> 2d40dc376773113a4b5831fb128fecec6e539d9c
		width: 100vw;
	}
}
.no-scroll .secondary {
	display: none;
}

@media screen and ( min-width: 768px ) {
	.site-header {
		.header-wrapper {
			width: $size__site-width;
			margin: 0 auto;
		}
		.row {
			width: 100%;
		}
		.primary {
			.site-branding, .main-navigation {
				width: 50%;
				display: block;
			}
			.mbl-menu {
				display: none;
			}
		}
		.secondary {
			background-color: transparent;
			border: none;
			.row .menus {
				width: auto;
			}
			.service-menu {
				background-color: #ffffff;
				border: 1px solid #f5f5f5;
				border-top: none;
			}
		}
		#primary-menu, #secondary-menu {
			display: block;
<<<<<<< HEAD
			@include flex(row, no-wrap, flex-end, center);
=======
			// @include debug;
			@include flex( row, no-wrap, flex-end, center );
		}
		.primary .row, .secondary .menu {
			padding: 0 2em;
>>>>>>> 2d40dc376773113a4b5831fb128fecec6e539d9c
		}
		.primary .row, .secondary .menu {
			padding: 0 2em;
		}

	}
}

<<<<<<< HEAD

=======
>>>>>>> 2d40dc376773113a4b5831fb128fecec6e539d9c
@media screen and ( min-width: $size__site-maxwidth ) {
	.site-header .header-wrapper {
		max-width: $size__site-maxwidth;
	}
}
