.site-header {
	width: 100%;
	.wrapper {
		background-color: orange;
		.row {
			width: $size__site-width;
			margin: 0 auto;
			padding: 1px 0;
			@include flex(row, no-wrap, space-between, center);
			.site-branding {
				@include debug;
				width: 80%
			}
			.main-navigation {
				@include debug;
				width: 20%;
			}
		}
	}
}