.site-header {
	width: 100%;
	-webkit-transform: translate3d(0,0,0);
	.header-wrapper {
		width: 100%;
	}
	.row {
		width: $size__site-width;
		margin: 0 auto;
		@include flex(row, no-wrap, flex-end, center);
	}
	.primary, .secondary {
		.menu {
			li {
				margin: .25em .8em .45em;
				&:first-of-type {
					margin-left: 0;
				}
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
	.primary {
		.site-branding {
			width: 80%;
		}
		.main-navigation {
			width: 20%;
			.mbl-menu {
				float: right;
			}
		}
	}
	.secondary {
		background-color: #FFFFFF;
		border: 1px solid #efefef;
		.row {
			.menus {
				width: 100%
			}
			.service-menu {
				box-sizing: border-box;
				moz-box-sizing: border-box;
				list-style: none;
				@include flex(row, no-wrap, flex-start, center);
			}
		}
	}
	#primary-menu, #secondary-menu, .mbl-navigation {
		display: none;
		overflow: hidden;
	}
	.mbl-navigation.active {
		display: block;
		width: 100vw;
	}

	.site-branding {
		h1 {
			font-size: 2.5em;
			padding: 0;
			margin: 0;
		}
	}

}
.no-scroll .secondary {
	display: none;
}

@media screen and ( min-width: 768px ) {
	.site-header {
		.header-wrapper {
			width: $size__site-width;
			margin: 0 auto;
		}
		.row {
			width: 100%;
		}
		.primary {
			.site-branding, .main-navigation {
				width: 50%;
				display: block;
			}
			.mbl-menu {
				display: none;
			}
		}
		.secondary {
			background-color: transparent;
			border: none;
			.row .menus {
				width: auto;
			}
			.service-menu {
				background-color: #ffffff;
				border: 1px solid rgba(0,0,0,0.1);
				border-top: none;
			}
		}
		#primary-menu, #secondary-menu {
			display: block;
			@include flex(row, no-wrap, flex-end, center);
		}
		.primary .row, .secondary .menu {
			padding: 0 2em;
		}

	}
}


@media screen and ( min-width: $size__site-maxwidth ) {
	.site-header .header-wrapper {
		max-width: $size__site-maxwidth;
	}
}
