.widget-area {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	font-size: .8em;
	z-index: 0;
	&:after {
		opacity: .1;
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: -100vw;
		right: -100vw;
		bottom: 0;
		z-index: -1;
	}
	.no-scroll & {
		display: none;
	}
}

.widget {
	&:not(:last-child) {
		margin: 0 0 2em;
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

@media screen and ( min-width: 640px ) {
	.widget-area:after {
		display: none;
		visibility: hidden;
	}
}
