a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.menu {
	a {
		&:link,
		&:visited,
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			color: #FFFFFF;
			font-size: .75em;
			font-weight: 400;
			padding-bottom: 0.21em;
			border-bottom: 0.18em solid transparent;

			opacity: 1;
		}
	}
	a:hover, a:active, a:focus {
		border-color: #FFFFFF;
		opacity: 0.8;
	}
	.site-header & .current-menu-item a {
		border-color: #FFFFFF;
	}
	.mbl-navigation a {
		font-size: 1em;
	}
}
.site-branding a {
	text-decoration: none;
}