.is-sticky {
	position: relative;
	z-index: 9999;
}
.site-header {
	// z-index: 100;
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.mbl-navigation {
		padding: 5%;
		li {
			padding: .5em 0;
		}
	}
	&.active {
		height: 100vh;
		overflow: scroll;
	}
}

.site-footer {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 4em 0 2em 0;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
